body {
  background: linear-gradient(
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  height: 100vh;
}

#outer-circle {
  background: #385a94;
  /* border-radius: 50%; */
  height: 500px;
  width: 500px;
  position: relative;
  border-style: solid;
  border-width: 2px;
  margin: auto;
  margin-top: 60px;
  box-shadow: 8px 8px 15px 5px #dad3d3;
}

.box {
  position: absolute;
  height: 250px;
  width: 250px;
  /* border-style: solid;
  border-width: 0; */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#topleft {
  /* border-radius: 250px 0 0 0;
  -moz-border-radius: 250px 0 0 0;
  -webkit-border-radius: 250px 0 0 0; */
  background: #03552c;
  top: 0;
  left: 0;
  /* margin: -250px 0px 0px -250px; */
}

#topright {
  /* border-radius: 0 250px 0 0;
  -moz-border-radius: 0 250px 0 0;
  -webkit-border-radius: 0 250px 0 0; */
  background: rgb(129, 5, 5);
  top: 0;
  left: 50%;
  /* margin: -250px 0px 0px 0px; */
}

#bottomleft {
  /* border-radius: 0 0 0 250px;
  -moz-border-radius: 0 0 0 250px;
  -webkit-border-radius: 0 0 0 250px; */
  background: #aa800b;
  bottom: 0;
  left: 0;
  /* margin: 0px -250px 0px -250px; */
}

#bottomright {
  /* border-radius: 0 0 250px 0;
  -moz-border-radius: 0 0 250px 0;
  -webkit-border-radius: 0 0 250px 0; */
  background: rgb(3, 3, 82);
  bottom: 0;
  right: 0;
  /* margin: 0px 0px -250px 0px; */
}

#inner-circle {
  position: absolute;
  background: rgba(34, 193, 195, 0.4);
  border-radius: 2px;
  height: 50%;
  width: 50%;
  /* border-style: solid; */
  /* border-width: 5px; */
  top: 50%;
  left: 50%;
  /* margin: -125px 0px 0px -125px; */
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#title {
  /* font-family: "Original Surfer", cursive; */
  position: absolute;
  font-size: 40px;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
}

#switches {
  position: absolute;
  font-family: "Original Surfer", cursive;
  left: 30px;
  top: 110px;
}

.toggle {
  margin: 0 20px;
}

.button {
  /* border-radius: 50% !important; */
  font-size: 1.5em;
  background-color: rgb(224, 67, 107);
  border: none;
  border-radius: 3px;
}

.text1 {
  position: absolute;
  /* font-family: "Original Surfer", cursive; */
  left: 30px;
  top: 142px;
}

.text1 span:last-child {
  padding-left: 70px;
}

#turn {
  position: absolute;
  left: 50%;
  bottom: 42px;
  transform: translateX(-50%);
  background: #330000;
  color: red;
  font-family: courier;
  font-size: 20px;
  height: 30px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}

.counter-text {
  position: absolute;
  font-family: "Original Surfer", cursive;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
